.portfolioPage {
  .portfolioPage__change-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .portfolioPage__change-item:not(:last-of-type) {
    margin-right: 8px;
  }

  .portfolioPage__btn {
    padding: 6px 22px;
    background-color: $bg-grey-color;
    color: $title-text-color;
    @include font($fs:16px, $lh:26px);
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent;
    transition: background-color 250ms $timing-function,
      color 250ms $timing-function, box-shadow 250ms $timing-function;

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $primery-white-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

.portfolioPage-card {
  margin-bottom: -30px;

  .portfolioPage-card__item {
    transition: box-shadow 250ms $timing-function;
    margin-bottom: 30px;
    
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  .portfolioPage-card__tumb {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .portfolioPage-card__overlay {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 77px 24px;
    transition: transform 250ms $timing-function;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    @include font($fs:18px, $lh:28px);
    color: $primery-white-color;
  }

  .portfolioPage-card__tumb:hover .portfolioPage-card__overlay {
    transform: translateY(0);
  }
    
  .portfolioPage-card__content {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
  }

  .portfolioPage-card__title {
    margin-bottom: 4px;
    @include font($fs:18px, $fw:700, $lh:36px);
    font-weight: 700;
  }

  .portfolioPage-card__descr {
    color: $primary-text-color;
    @include font($fs:16px, $lh:30px);
  }
}

@media screen and (max-width:480px) {
  .portfolioPage-card {
    .portfolioPage-card__overlay {
      padding: 17% 5%;
    }
  }
}


@media screen and (max-width: 767px) {
  .portfolioPage {
    .portfolioPage__change-list {
      flex-wrap: wrap;
      justify-content: start;
      margin-bottom: 35px;
    }

    .portfolioPage__change-item {
      margin-bottom: 15px;
    }
  }
}

@media screen and (min-width: 768px) {
  .portfolioPage-card {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    
    .portfolioPage-card__item {
      flex-basis: calc((100% - (30px * 2)) / 2);
      margin-right: 30px;
    }

    .portfolioPage-card__overlay {
      padding: 49px 24px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .portfolioPage-card {

    .portfolioPage-card__item {
      flex-basis: calc((100% - (30px * 3)) / 3);
    }

    .portfolioPage-card__overlay {
      padding: 63px 24px;
    }
  }
}