.team {
  background-color: $bg-grey-color;
 
  .team__title {
    @include font($fs: 28px, $fw:700, $lh:32.81px);
    text-align: center;
    margin-bottom: 30px;
  }

  .team__list {
    margin-bottom: -30px;
  }

  .team__item {
    margin-left: auto;
    margin-right: auto;
    background-color: $primery-white-color;
    box-shadow: $box-shadow;
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;
  }

  .team-content {
    padding-top: 30px;
    padding-bottom: 24px;
    text-align: center;
  
    .team-content__title {
      margin-bottom: 10px;
      @include font($fs:16px,$fw:500, $lh: 18.75px); 
    }
    
    .team-content__descr {
      margin-bottom: 16px;
      @include font($fs:16px, $lh: 19px);
    }

    .team-content__list {
      display: flex;
      justify-content: center;
    }
    
    .team-content__link {
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border-radius: 100%;
      fill: $color-link-grey;
      transition: background-color 250ms $timing-function, fill 250ms $timing-function;
      
      &:hover,
      &:focus {
        background-color: #2196f3;
        fill: $primery-white-color;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .team {
    .team__item {
      max-width: 450px;
    }
  }
}

@media screen and (min-width: 768px) {
  .team {
    .team__list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
    }

    .team__item {
      flex-basis: calc((100% - (30px * 2)) / 2);
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .team {
    .team__title {
      @include font($fs: 36px, $fw:700, $lh:42px);
      margin-bottom: 50px;
    }

    .team__item {
      flex-basis: calc((100% - (30px * 4)) / 4);
    }

    .team__pictures-img {
      width: 100%;
    }
  }
}