.logo {
  display: flex;
  @include font($fs: 24px, $fw: 700, $lh: 28px);

  color: $title-text-color;
  font-family: $secondary--font-family;
  // letter-spacing: 0.03em;

  .logo__text {
    color: $accent-color;
    // margin-right: -0.25em;
  }

  .logo_color_white {
    color: $primery-white-color;
  }

  .logo_margin-bottom {
    margin-bottom: 20px;
  }

  .logo_display-inline-block {
    display: inline-block;
  }
}

@media screen and (max-width: 1199px) {
  .logo {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    @include font($fs: 26px, $fw: 700, $lh: 30.52px);
  }
}
