.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: calc(100% - 30px);
  min-height: 581px;
  color: $title-text-color;
  background-color: $primery-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms $timing-function;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.2);
  }

  .modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
    transition: fill 250ms $timing-function;
    
    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }

  .modal__content {
    margin-bottom: 30px;
    @include font($fs:20px, $fw:700, $lh:30px);
    text-align: center;
  }

  .form {
    .form__field {
      position: relative;
      display: block;
      margin-bottom: 28px;
      @include font($fs:12px, $lh:14px)
    }

    .form__input {
      width: 100%;
      min-height: 40px;
      padding: 12px 15px 12px 42px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      outline: none;
      transition: border-color 250ms $timing-function;
    }

    .form__icon {
      position: absolute;
      top: 50%;
      left: 12px;
      transition: fill 250ms $timing-function;
    }

    .form__label {
      display: block;
      margin-bottom: 4px;
      @include font($fs:12px, $lh:14px)
      color: $primary-text-color;
      transition: color 250ms $timing-function;
    }

    .form__field:hover,
    .form__field:hover > .form__input,
    .form__input:focus,
    .form__input:focus + .form__icon,
    .form__textarea:hover,
    .form__textarea:focus {
      fill: $accent-color;
      border-color: $accent-color;
    }

    .form__textarea {
      width: 100%;
      min-height: 120px;
      margin-bottom: 20px;
      padding: 12px 16px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      resize: none;
      outline: none;
      transition: border-color 250ms $timing-function;
    }

    .form__textarea::placeholder {
      color: rgba(117, 117, 117, 0.5);
      font-size: 14px;
      line-height: 1.33;
    }
  }
  
  .subscription {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding-left: 24px;
    @include font($fs:12px, $lh:14px)
    letter-spacing: 0.03em;
    color: $primary-text-color;

    .subscription__checkbox {
      appearance: none;
      position: absolute;
    }

    .subscription__checkbox-label {
      // margin-left: 24px;
      margin-right: 0.25em;
      cursor: pointer;
    }

    .subscription__checkbox-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 15px;
      border: 2px solid #212121;
      border-radius: 2px;
      background-image: url('../images/icon-check.svg');
      background-origin: border-box;
      transition: background-color 250ms $timing-function, border-color 250ms $timing-function;
    }

    .subscription__checkbox:checked ~ .subscription__checkbox-icon {
      background-color: $accent-color;
      border-color: transparent;
    }

    .subscription__link {
      display: inline-block;
      // margin-left: 0.25em;
      text-decoration: underline;
      color: $accent-color;
    }
  }
}

@media screen and (max-width: 479px) {
  .form {
    .form__field:hover .form__label,
    .form__field:focus .form__label,
    .form__field-textarea:hover .form__label,
    .form__field-textarea:focus .form__label {
      color: $accent-color;
    }

    .subscription {
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 479px) {
  .modal {
    padding: 8%;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    max-width: 480px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;

    .subscription {
      padding-left: 0;
      @include font($fs:14px, $fw:400, $lh:24px)
      
      .subscription__checkbox-label {
        margin-left: 36px;
      }

      .subscription__checkbox-icon {
        top: 4px;
        left: 13px;
      }
    }
  }
}