$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primery-white-color: #ffffff;
$text-color-grey: rgba(255, 255, 255, 0.6);
$bg-dark-color: #2f303a;
$bg-grey-color: #f5f4fa;
$bg-hover-blue-color: #188ce8;
$border-color: #ececec;
$color-link-grey: #afb1b8;
$btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$main-font-family: 'roboto', sans-serif;
$secondary--font-family: 'Raleway', sans-serif;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);