body {
  background-color: $primery-white-color;
  color: $primary-text-color;
  @include font;
  font-family: $main-font-family;
  
  letter-spacing: 0.03em;
}

h1,
h2,
h3 {
  color: $title-text-color;
  font-weight: 700;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}